.onboardingPage {
  position: relative;
  top: -110px;
  margin: -6px -15px;
  padding: 6px 0;
  background-color: rgb(24, 27, 31);
}

[data-theme='light'] .onboardingPage {
  background-color: #fff;
}

.onboardingRow {
  background: rgb(34, 37, 43);
  display: flex;
  margin-top: 16px;
  gap: 20px;
  padding: 20px;
  margin-bottom: 2.5rem;
}

.onboardingParagraph {
  padding: 20px 64px;
  text-align: center;
  line-height: 2;
  flex: 1;
  margin: 0;
}

.closeButton {
  position: absolute;
  top: -30px;
  opacity: 0.8;
  right: -32px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.onboardingPanel {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 16px;
  text-align: center;
}
.onboardingPanelHeader {
  line-height: 1.5;
  margin-bottom: 1em;
}
.onboardingPanelImage {
  width: 5rem;
  margin-bottom: 1em;
}

.hero {
  display: flex;
  flex-direction: row;
}

.heroTitles {
  flex: 1;
}

.heroImage {
  width: 40%;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
}

.onboardingPanelNumber {
  color: rgb(236, 109, 19);
  text-align: center;
  display: grid;
  place-items: center;
  background-image: linear-gradient(135deg, currentcolor, 75%, rgb(204, 204, 220));
  border-radius: 100%;
  font-size: 2.5rem;
  line-height: 5rem;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1em;
}

.color2 {
  color: rgb(190, 85, 190);
}

.color3 {
  color: rgb(126, 108, 218);
}

.onboardingPanelNumberSpan {
  color: rgb(220, 220, 220);
}

.onboardingPanelDescription {
  text-align: justify;
  text-align: center;
  line-height: 1.66;
  margin-top: 0;
  // padding: 0 10px;
}

.link {
  color: rgb(110, 159, 255);
}

.link:hover {
  color: #3e91d9;
  text-decoration: underline;
}

.title {
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.subtitle {
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1.25rem;
}
.clearfix {
  clear: both;
}
