{
  "extends": ["./.config/.eslintrc", "plugin:jest/recommended", "plugin:sonarjs/recommended"],
  "plugins": ["jest", "sonarjs"],
  "rules": {
    "no-unused-vars": "error",
    "jest/expect-expect": "error",
    "jest/valid-title": "off",
    // todo bring back to 8
    "sonarjs/cognitive-complexity": ["error", 20],
    "sonarjs/prefer-immediate-return": "off",
    "sonarjs/no-duplicate-string": "off"
  }
}
