{
  "plugins": ["jest", "sonarjs", "@tanstack/query"],
  "extends": [
    "./.config/.eslintrc",
    "plugin:jest/recommended",
    "plugin:sonarjs/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended"
  ],
  "rules": {
    "no-console": ["error", { "allow": [""] }],
    "no-unused-vars": "error",
    "jest/expect-expect": "error",
    "jest/valid-title": "off",
    "sonarjs/cognitive-complexity": ["error", 8],
    "sonarjs/prefer-immediate-return": "off",
    "sonarjs/no-duplicate-string": "off"
  }
}
